.row 
  - @users.each do |user|
    = render 'users/user', user: user

.form-inline
  = search_form_for @query do |f|
    = f.search_field :email_cont, placeholder: 'email'
    = f.search_field :sign_in_count_eq, placeholder: 'sign in count'
    //= f.search_field :email_or_sign_in_count_eq, placeholder: 'email or sign in count'
    = f.submit
  .ml-2 
  = link_to 'refresh', users_path


%table.table.table-bordered
  %thead
    %tr 
      %th id
      %th= sort_link(@query, :email)
      %th created_at 
      %th= 'sign_in_count'.humanize 
      %th= 'current_sign_in_at'.humanize 
      %th= 'last_sign_in_at'.humanize 
      %th= 'current_sign_in_ip'.humanize 
      %th= 'last_sign_in_ip'.humanize 
  %tbody 
    - @users.each do |user|
      %tr 
        %td= user.id 
        %td= user.email 
        %td= user.created_at
        %td= user.sign_in_count
        %td= user.current_sign_in_at
        %td= user.last_sign_in_at
        %td= user.current_sign_in_ip
        %td= user.last_sign_in_ip
