.col-sm-4
  .card.m-2
    .card-header 
      .fa.fa-graduation-cap
      = link_to course.title, course_path(course)
    .card-body
      = course.description
      %small= simple_format(course.short_description)
    .card-footer
      .text-center
        = number_to_currency(course.price)
      
    .card-footer
      .row
        .col-md-6
          .fa.fa-globe-africa
          = course.language
        .col-md-6
          .text-right
            .fa.fa-signal
            = course.level
      
    .card-footer
      .row 
        .col-md-6
          .far.fa-clock
          = course.created_at.strftime('%d-%b-%Y')
        .col-md-6 
          .text-right
            .fa.fa-chalkboard-teacher
            = course.user.username
    .card-footer
      = link_to 'Show', course, class: 'btn btn-sm btn-primary'
      = link_to 'Edit', edit_course_path(course), class: 'btn btn-sm btn-warning'
      = link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger'
